#navbar {
  background: dodgerblue;
  padding: 1em;
  margin-bottom: 2em;
}

#navbar mat-button-toggle {
  background: cornflowerblue;
  border: 0px;
}

.active_bttn {
  background: darkblue !important;
}
