<!-- autocomplete -->
<form class="flex-container">
  <mat-form-field class="flex-item:nth-child(1)">
    <input type="text"
           placeholder="Escherichia coli"
           aria-label="Number"
           matInput [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='addName($event.option.value)' [displayWith]="displayName" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <!--  <button mat-button (click)="addName('lala')">add</button>-->
  <div class="flex-item:nth-child(2)">
    Add scientific name
  </div>
 </form>

<!-- autocomplete url db -->
 <app-tax-autocomplete (messageEvent)="receiveTaxEntry($event)"></app-tax-autocomplete>

<!-- table user given input taxons -->
<p class="clear-button">selected taxa </p>
<table mat-table [dataSource]="dataSource" class="container_table mat-elevation-z8">
  <!-- TaxID Column -->
  <ng-container matColumnDef="taxID">
    <th mat-header-cell *matHeaderCellDef> Taxon ID </th>
    <td mat-cell *matCellDef="let element"> {{element.taxID}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- Rank Column -->
  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef> Rank </th>
    <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="clear-button">
  <button mat-raised-button color="warn" (click)="deleteSelectedTaxIDs()">Delete all taxa</button>
</div>

taxID input
<div class="">
  <div class="">
    Input taxon IDs
  </div>
  <div class="">
    <label>
      <textarea matInputclass="text" value="" #bindingInput></textarea>
    </label>
    <div>
  <button (click)="getTaxIDValue()">Add taxa</button>
  </div>
  </div>
</div>

<!-- database selection -->
<label id="database-radio-group-label">Select database</label>
<section>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="database-radio-group"
    [(ngModel)]="selectedDatabase">
    <mat-radio-button class="radio-button" *ngFor="let database of databases" [value]="database">
      {{database}}
    </mat-radio-button>
  </mat-radio-group>
</section>

<!-- rank selection -->
<section>
  <label id="radio-group-label">Select rank</label>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="rank-radio-group"
    [(ngModel)]="selectedRank">
    <mat-radio-button class="radio-button" *ngFor="let rank of ranks" [value]="rank">
      {{rank}}
    </mat-radio-button>
  </mat-radio-group>
</section>

<!-- send get request to REST API -->
<div class="clear-button">
  <button mat-raised-button color="primary" (click)="sendGetRequest()">Generate Database</button>
</div>
